body{
margin: 0;
padding: 0;
font-family: sans-serif;
background-image: url(hotel-1.jpg);
}
.box{
    width: 300px;
    padding: 40px;
   background-image:url(Download-Free-Beautiful-Landscape-Wallpaper.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.box h1{
    color:white;
    text-transform: uppercase;
    font-weight:500;
}
.box input[type = "text"],.box input[type  = "password"],.box option[value = "slect"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid hwb(204 20% 14%);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "text"],.box input[type="password"]
{
 width:280px;
  border-color: #2ecc71;
  
}
.box input[type = "date"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "date"]
{
 width:280px;
  border-color: #2ecc71;
  
}

.box input[type="phone number"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:0.25s;
    cursor: pointer;
}
.box input[type="phone number"]{
    width: 280px;
    border-color:#2ecc71;
    cursor:pointer;
}
.box input[type  ="Submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;  
}

